body {
    background-color: #032B43;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin: auto;
}

hr {
    /* #773344*/
    /* border: 0px; */
    height: 2px;
    background-color: #773344;
    /* border-color: white; */
}

input {
    height: 30px;
    border: 1px solid white;
    background-color: #d3d3d3;
    color: #032B43;
}

button {
    height: 30px;
    margin: 0 10px;
    background-color: #773344;
    color: white;
    border-radius: 8px;
    border: 1px solid white;
}

button:hover {
    background-color: #D6C3C9;
    color: #032B43;
    font-weight: bold;
    cursor: pointer;
}

table {
    margin: 20px auto;
    border: 3px solid white;
    border-collapse: collapse;
    background-color: #D6C3C9;
    color: #032B43;
    text-align: center;
}

th,
td {
    border: 3px solid white;
}